img:not(h1 img){
    display: block;
    width: 80%;
    height: 80%;
    margin: auto;
    border: gray;
}
.ret{
    text-align: right;
    font-size: 40px;
}
p{
    text-align: center;
    font-size: 30px;
}
footer h1{
    font-size: medium;
    text-align: center;
}
.caution{
    font-size: 50px;
    color: red;
}